.card-container {
  background: #ffffff12;
  box-shadow: 0 0.8rem 3.2rem 0 rgba(135, 119, 31, 0.37);
  backdrop-filter: blur(0.85rem);
  -webkit-backdrop-filter: blur(0.85rem);
  border-radius: 4rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
}

.card-container:hover {
  background: #ffffff12;
  box-shadow: 0 0.8rem 3.2rem 0 rgba(135, 119, 31, 0.37);
  backdrop-filter: blur(0.85rem);
  -webkit-backdrop-filter: blur(0.85rem);
  border-radius: 2rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
}

.trending-preview {
  margin: 10px;
  border-radius: 1.5rem;
  width: 70px;
  height: 40px;
  object-fit: cover;
}

.card-movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card-movieList p {
  color: #ffffff;
}

/* tvShow.css */
.card-movieList {
  display: flex;
  overflow: hidden;
}

.movie-container {
  margin: 5px;
  border-radius: 10px;
  background-color: #1a1a1a;
  text-align: center;
  flex: 0 0 auto;
  width: 200px; /* Ajusta este valor según tus necesidades */
  padding: 10px;
  text-align: center;
}

.movie-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.persson-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*   background-color: hwb(200 27% 72% / 0.2); */
  padding: 0;
  margin: 0;
  border-radius: 40px;
  color: var(--color-titulo);
}

.persson-img {
  width: 50%;
  height: 50%;
  margin: 0;
  border-radius: 50%;
}

.main-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /*   background-color: hwb(180 2% 62%); */
  padding: 2%;
  border-radius: 40px;
  color: var(--color-titulo);
}

.card-container {
  border: 1px #424247; /* Borde adaptable */
  border-radius: 10px; /* Borde redondeado */
  padding: 20px;
  max-width: 1200px; /* Limita el ancho máximo del contenedor */
  width: 100%;
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

.card-movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.movie-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie-container:hover {
  cursor: pointer;
  background-color: var(--color-titulo);
  color: #1a1a1a;
}

.rating {
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  gap: 5px;
}
