.main-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /*   background-color: hwb(180 2% 62%); */
  padding: 2%;
  border-radius: 40px;
}

.card-container {
  background: #ffffff12;
  box-shadow: 0 0.8rem 3.2rem 0 rgba(135, 119, 31, 0.37);
  backdrop-filter: blur(0.85rem);
  -webkit-backdrop-filter: blur(0.85rem);
  border-radius: 2rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
  border: 1px #424247; /* Borde adaptable */
  border-radius: 10px; /* Borde redondeado */
  padding: 20px;
  max-width: 1200px; /* Limita el ancho máximo del contenedor */
  width: 100%;
  box-sizing: border-box;
}

.card-container:hover {
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
}

.trending-preview {
  padding: 10px;
  border-radius: 10px;
  background: #ffffff12;
  color: white;
  border: none;
  margin-bottom: 30px;
  font-size: 15px;
  margin: 10px;
}

.trending-preview:hover {
  background-color: #ffffff2c;
  transform: scale(1.001) translateY(-2px);
  color: white;
}

.card-container h2 {
  color: #F4CE14;
  font-size: 30px;
  margin-bottom: 10px;
}

.card-movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card-movie-list p {
  color: #ffffff;
}

/* tvShow.css */
.card-movie-list {
  display: flex;
  overflow: hidden;
}

.movie-container {
  margin: 5px;
  border-radius: 10px;
  background-color: #1a1a1a;
  text-align: center;
  flex: 0 0 auto;
  width: 250px; /* Ajusta este valor según tus necesidades */
  padding: 10px;
  text-align: left;
}

.persson-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.card-movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.persson-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.rating {
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  gap: 5px;
}

