@import url('../styles/global.css');

.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #5FD3ED;
}

header {
  width: 100vw;
  background-color: hsla(0, 0%, 0%, 0.54);
  padding: 20px;
  color: white;
  text-align: center;
}

header h1 {
  margin: 0;
  color:#5FD3ED;
}

main {
  padding: 20px;
  display: block;
}


