/* styles.css */
.container-carrusel {
  display: grid;
}

.trendingPreview-movieList {
  width: 80%;
  display: flex;
  /* overflow-x: scroll; */
  width: max-content;
}

.trendingPreview, h2{
  color: #5FD3ED;
}

.movie-container {
  flex: 0 0 auto;
  width: 20%; /* Ajusta el ancho al 20% para mostrar 5 elementos a la vez */
  box-sizing: border-box;
  padding: 10px;
}

.movie-container p {
  color: var(--color-text-2);
}

.movie-img {
  width: 100%;
  border-radius: 8px;
}
