.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(43, 42, 42, 0.48);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  width: 90px;
  height: 90px;
}

.search-container form {
  display: flex;
  padding: 20px;
}

.select-button {
  padding: 10px 20px;
  border-radius: 2rem;
  margin-right: 10px;
  background-color: #F4CE14;
  border: none;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

option {
  font-size: 18px;
  font-weight: bold;
}

.input-button-container {
  display: flex;
  gap: 20px;
}

.input-search {
  width: 40vw;
  min-width: 200px;
  padding: 8px;
  font-size: 16px;
  border-radius: 2rem;
  border: none;
}

.input-search:active,
.input-search:focus {
  outline: none;
}

.submit-button {
  padding: 10px 20px;
  border-radius: 2rem;
  background-color: #F4CE14;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.submit-button:hover {
  background-color: #F3CA52;
}

.select-button:focus {
  outline: none;
}

.select-button:hover {
  background-color: #F3CA52;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  border-radius: 1rem;
  width: 42.5%;
  max-height: 600px;
  overflow-y: auto;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #ffffff12;
  box-shadow: 0 0.8rem 3.2rem 0 rgba(135, 119, 31, 0.37);
  backdrop-filter: blur(0.85rem);
  -webkit-backdrop-filter: blur(0.85rem);
  border-radius: 2rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
  color: white;
  font-size: large;
}

.search-dropdown li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.search-dropdown li:hover {
  background-color: #f0f0f049;
  color: black
}