.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(43, 42, 42, 0.48);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  width: 90px;
  height: 90px;
}

.search-container form {
  display: flex;
  padding: 20px;
}

.select-button {
  padding: 10px 20px;
  border-radius: 2rem;
  margin-right: 10px;
  background-color: #F4CE14;
  border: none;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

option {
  font-size: 18px;
  font-weight: bold;
}

.input-button-container {
  display: flex;
  gap: 20px;
}

.input-search {
  width: 800px;
  padding: 8px;
  font-size: 16px;
  border-radius: 2rem;
  border: none;
}

.input-search:active,
.input-search:focus {
  outline: none;
}

.submit-button {
  padding: 10px 20px;
  border-radius: 2rem;
  background-color: #F4CE14;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.submit-button:hover {
  background-color: #F3CA52;
}

.select-button:focus {
  outline: none;
}

.select-button:hover {
  background-color: #F3CA52;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  width: 42.5%;
  overflow-y: auto;
  z-index: 1;
}

.search-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.search-dropdown li:hover {
  background-color: #f0f0f0;
}