@import url('../style/global.css');
/*  Para llamar un color solo se pone por ejemplo  background-color: var(--color-fondo);
  --color-titulo : #5FD3ED;
  --color-background: #252634;
  --color-details: #616489;
  --color-text: #FFFFFF;
  --color-text-2: #B9B7B7; 
*/

#trendingPeoplePreview {
    width: 80%;
    overflow-x: auto;
}