:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark; /* Define que el navegador ueda ajustar a modo oscuro o claro segun configuración */

  /* Definición global de los colores */
  --color-titulo : #5FD3ED;
  --color-background: #252634;
  --color-details: #616489;
  --color-text: #FFFFFF;
  --color-text-2: #B9B7B7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 